<% if @status %>
$('#chang_middle').html('<div style="color: green;">Product was successfully created.</div>');
<% else %>
$('#chang_middle').html('<%= escape_javascript(render(:partial => "form")) %>');
<% end %>